/*

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*/
body,
html {
  max-width: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body p {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

nav ul li a {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: #0f0c26;
}

/* INDEX */

/* barre de navigation */

.div-logo1 {
  visibility: visible;
}

.div-logo2 {
  display: none;
}

.logo1 {
  width: 178.07px;
  height: 60.48px;
}

.barre-nav-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.barre-nav-container {
  background-color: #e1d6ce;
  width: 100%;
  height: 5em;
  position: fixed;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 100;
  margin-top: -0.5em;
}

.barre-nav-container li {
  display: inline-block;
}

.barre-nav-container li a {
  text-decoration: none;
}

.sous-menu a {
  margin: auto;
}

/* BARRE NAV ICONE 

.barre-nav-icones a {
  text-decoration: none;
  font-weight: normal;
  color: #0f0c26;
  padding-right: 1em;
  text-transform: uppercase;
  margin-left: 0.25em;
}

.fa-globe,
.fa-cart-shopping {
  color: #0f0c26;
  font-size: 18px;
}

.barre-nav-icones {
  display: flex;
}
.langue {
  padding-right: 1em;
}*/

/* menu déroulant */

:root {
  --hauteur-menu: 60px;
}

.menu-principal {
  width: 65%;
  font-size: 16px;
  position: sticky;
  top: 0;
}

.menu-deroulant a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}

.sous-menu a {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.menu-principal > ul {
  display: flex;
  text-align: center;
  /*box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.3);*/
  height: var(--hauteur-menu);
}
  .menu-principal ul {
  list-style-type: none;
}

.menu-principal > ul > li {
  /*background-color: white;*/
  position: relative;
  height: 100%;
  /*flex: 1;*/
  width: 15%;
}

.menu-principal > ul {
  justify-content: flex-end;
}

.menu-principal > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

li a {
  text-decoration: none;
  color: black;
}

.arrow > a:after {
  content: "❯";
  font-size: 15px;
  margin-left: 7px;
  display: inline-block;
}

.sous-menu {
  margin-top: var(--hauteur-menu);
  width: 100% !important;
  padding: 0;
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  max-height: 0;
}

.sous-menu > li > a {
  height: 50px;
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.sous-menu > li {
  width: 100%;
}

.sous-menu > li:hover {
  background-color: rgba(151, 33, 236, 0.3);
}

.sous-menu > .bg-orange-hover:hover {
  background-color: rgba(236, 74, 33, 0.3);
}

.sous-menu > li:hover > a {
  color: white;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.menu-deroulant:hover > a:after {
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
    border-top: 3px solid;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid;
    box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
  }
}

.menu-deroulant:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

.menuburger_nav {
  display: none;
}

/* hero header */

.hero-container {
  background-image: url("../images/img-hero-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  min-height: 73.3652vh;
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.img-overlay {
  width: 100%;
  min-height: 73.3652vh;
  background-color: #0f0c26a4;
}

h1 {
  font-size: 50px;
}

.hero-text {
  position: relative;
}

#h1-home {
  top: 4em;
  left: 1.5em;
  text-align: left;
}

.msg-hero-header {
  font-size: 16px;
  text-align: left;
  top: 19em;
  left: 5em;
}

#h1-home,
.msg-hero-header {
  position: absolute;
}

.btn-container {
  position: relative;
}

header button {
  top: 23em;
  position: absolute;
}

header button a {
  text-decoration: none;
}

.header-btn1 {
  padding: 11px 15px;
  background-color: #fff;
  border-style: solid;
  border-color: #d73106;
  color: #d73106;
  left: 4em;
}

.header-btn1:hover {
  background-color: #d73106;
  border-style: solid;
  border-color: #ffffff;
  color: #ffffff;
}

.header-btn2 {
  padding: 11px 15px;
  background-color: #9032b0;
  border-style: solid;
  border-color: #fff;
  color: #fff;
  left: 12em;
}

.header-btn2:hover {
  display: block;
  margin: auto;
  color: #9032b0;
  background-color: #fff;
  font-weight: 700;
  border: 3px solid#9032b0;
}

button,
input[type="submit"] {
  height: 45px;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 11px 15px;
}

/**menu burger**/

.menuburger {
  display: none;
  background-color: #e1d6ce;
  height: 5em;
}

/* icône menu burger */
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

/* index section à propos */

.aPropos-container {
  background-color: #f0eae6;
  width: 100%;
  height: 26.0625;
  margin-top: 7em;
  display: flex;
  justify-content: center;
}

.img-page-aPropos2 {
  width: 380.65px;
  height: 325px;
}

.aPropos-extrait {
  width: 503px;
  height: 101px;
  padding: 2em 2em;
}

.img-aPropos {
  width: 380.65px;
  height: 325.87px;
  padding: 2.5em 0 2.5em;
}

.btn-aPropos,
.btn-articles,
.btn-nl {
  padding: 11px 25px;
  background-color: #9032b0;
  color: #fff;
  left: 12em;
  border-style: none;
}

.btn-aPropos:hover,
.btn-articles:hover,
.btn-nl:hover {
  background-color: #ffffff;
  color: #9032b0;
  font-weight: 700;
  border: 3px solid #9032b0;
}

/* index section stickers galerie, commande, blog */

.page-stickers-container {
  background-color: #f7f6f8;
  width: 100%;
  height: 24em;
  margin-top: 5em;
}

.sticker-galerie {
  width: 88.4px;
  height: 152.6px;
  position: absolute;
  left: 2em;
  top: 0em;
}

.sticker-commande {
  width: 151.726px;
  height: 152.6px;
  position: absolute;
  left: 0;
  top: 0.5em;
}

.sticker-blog {
  width: 88.4px;
  height: 152.6px;
  left: 2em;
  top: 0;
  position: absolute;
}

.bg-sticker {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  position: relative;
  transition: transform 0.2s;
  margin: auto;
}

.bg-sticker:hover {
  transform: scale(1.5);
}

.bg-sticker-galerie {
  background-color: #e2bcb2;
  box-shadow: 0 15px 15px 0 #f2896340;
}

.bg-sticker-commande {
  background-color: #dfd7d3;
  box-shadow: 0 15px 15px 0 #0b083c21;
}

.bg-sticker-blog {
  background-color: #756e82;
  box-shadow: 0 15px 15px 0 #0b083c21;
}

.page-stickers-container h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 0;
  color: #0f0c26;
}

.orange-hover:hover {
  color: #d73106;
}

.purple-hover:hover {
  color: #9032b0;
}

.page-stickers-container {
  display: flex;
  justify-content: center;
}

.sticker-container {
  width: 21.875em;
  margin: 2em 1em 1em;
}

.sticker-text-container {
  text-align: center;
}

.page-stickers-container a {
  text-decoration: none;
}

/* index section les dernières peintures */
.last-paintings-container {
  margin-bottom: 5em;
}

.flex-paintings-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 1.5em;
}

.last-paintings-container h2 {
  margin-top: 3em;
  text-align: center;
}

.galerie-container {
  padding-top: 5em;
  padding-bottom: 5em;
  margin: auto;
  width: 80%;
}

.painting-container {
  margin: 2em;
}

.img-painting-container-home {
  width: 355px;
  height: 355px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff; /* Optionnel : couleur de fond du conteneur */
}

.last-paintings-container button {
  padding: 11px 25px;
  background-color: #d73106;
  color: #fff;
  left: 12em;
  border-style: none;
}

.last-paintings-container button:hover {
  background-color: #ffffff;
  color: #d73106;
  font-weight: 700;
  border: 3px solid #d73106;
}

.btn-paintings-container {
  display: flex;
  justify-content: center;
}

/* Index Section FAQ */

.faq-link-container {
  width: 100%;
  height: 8em;
  background-color: #65606f;
  display: flex;
  justify-content: center;
}
.faq-link-container p {
  text-align: center;
  color: #f9f6f2;
  font-weight: 600;
}

.btn-msg-faq {
  width: 30%;
}

.btn-faq-div-home a {
  text-decoration: none;
}

.btn-msg-faq button {
  display: block;
  margin: auto;
  width: 13em;
  background-color: #ffffff;
  color: #9032b0;
  font-weight: 700;
  border: 3px solid #9032b0;
}

.btn-msg-faq button:hover {
  display: block;
  margin: auto;
  width: 13em;
  color: #ffffff;
  background-color: #9032b0;
  font-weight: 700;
  border: 3px solid #ffffff;
}

/* Index Les derniers articles */

.last-posts-container {
  margin-top: 5em;
  margin-bottom: 5em;
}

.last-posts-container h2 {
  text-align: center;
  margin-bottom: 2em;
}

.archive-container-home {
  padding-top: 5em;
  padding-bottom: 5em;
  margin: auto;
  width: 80%;
}

.card-container-home {
  width: 21.8em;
  height: 25em;
  box-shadow: rgba(0, 0, 0, 0.256) 0px 5px 15px;
  margin-right: 3em;
  margin-bottom: 3em;
}

.archive-img-home {
  width: 349.44px;
  height: 196.55px;
  margin: auto;
}

.date-home {
  font-size: 14px;
  font-weight: 200;
}
.lire-plus {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.card-text-container-home {
  width: 20em;
  /*padding-left: 1em;*/
  margin: auto;
}

.card-text-container-home h3 {
  font-size: 20px;
  margin-bottom: 0.375em;
}

.card-text-container-home h3 a {
  text-decoration: none;
}

.card-text-container-home p {
  margin-bottom: 0.25em;
  margin-top: 0.375em;
}

.flex-cards-home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-articles-container {
  display: flex;
  justify-content: center;
}

/*  PAGE A PROPOS */

/* à propos section 1*/

.section-apropos-container h1 {
  text-align: center;
}

.section-apropos-container h1 {
  padding: 2.5em 0 1.5em 0;
  text-align: center;
}

.img-page-aPropos {
  width: 535px;
  height: 458px;
}

.section-apropos1 {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

#apropos-h1 {
  margin: 0;
}

.section-apropos1-txt h2 {
  text-align: left;
  margin-bottom: 1em;
}

/* à propos section 2*/

.grey-bg {
  background-color: #65606f;
  width: 70%;
  margin: auto;
  padding: 1em 3em;
  color: #fff;
  margin-bottom: 5em;
}

/*hr {
  width: 25em;
  /* position: absolute;
  top: 4em;
  left: 30em;
}*/

.section-apropos2 h2 {
  margin: 2em 0 3em;
  text-align: center;
  border-bottom: 1px solid;
  height: 2em;
}

.section-apropos2-title {
  /*position: relative;*/
}

.sous-section-apropos2-a,
.sous-section-apropos2-b {
  display: flex;
  justify-content: center;
}

.section-apropos1-txt,
.sous-section-apropos2-a-txt,
.sous-section-apropos2-b-txt {
  width: 535px;
  height: 450px;
  margin: 0 2.5em 0;
}

/*    PAGE COMMANDE    */

.info-commande-container {
  padding-top: 7em;
  padding-bottom: 4em;
}

.info-commande-container h1 {
  text-align: center;
}

.bg-h1-commande {
  background-color: #f0eae6;
  margin-bottom: 5em;
  width: 100%;
  height: 4.5em;
}

.info-commande-container h2 {
  padding-bottom: 1em;
}

.info-commande-contenu {
  width: 50%;
  margin: auto;
  margin-bottom: 4em;
}

.info-commande-contenu p {
  margin-bottom: 2.5em;
}

.contact-link-container {
  width: 100%;
  height: 8em;
  background-color: #65606f;
  display: flex;
  justify-content: center;
}
.contact-link-container p {
  text-align: center;
  color: #f9f6f2;
  font-weight: 600;
  padding-bottom: 0.5em;
}

.btn-msg-contact {
  width: 30%;
}

.btn-msg-contact button {
  display: block;
  margin: auto;
  width: 13em;
  background-color: #ffffff;
  color: #9032b0;
  font-weight: 700;
  border: 3px solid #9032b0;
}

.btn-msg-contact button:hover {
  display: block;
  margin: auto;
  width: 13em;
  background-color: #9032b0;
  color: #ffffff;
  font-weight: 700;
  border: 3px solid #ffffff;
}

/*PAGE ARCHIVE*/

.archive-container {
  padding-top: 5em;
  padding-bottom: 5em;
  margin: auto;
  width: 80%;
}

.card-container {
  width: 26.5em;
  height: 29em;
  box-shadow: rgba(0, 0, 0, 0.256) 0px 5px 15px;
  margin-right: 3em;
  margin-bottom: 3em;
}

.archive-img {
  width: 424px;
  height: 273.52px;
}

.date {
  font-size: 14px;
  font-weight: 200;
}
.lire-plus {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.card-text-container {
  width: 25.3125em;
  height: 8.875em;
  /*padding-left: 1em;*/
  margin: auto;
}

.card-text-container h3 {
  font-size: 20px;
  margin-bottom: 0.375em;
}

.card-text-container a {
  text-decoration: none;
  color: #0f0c26;
}

.archive-container h1 {
  font-size: 50px;
  text-align: center;
}

.archive-container h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 3em;
}

.card-text-container p {
  margin-bottom: 0.25em;
  margin-top: 0.375em;
}

.inline-div {
  display: inline;
}

.flex-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* PAGE POST  */
/* Page post section1 */

.post-container h1 {
  margin-top: 0;
}

.post-container h1 {
  text-align: center;
  padding-top: 3em;
}

.post-section1 {
  width: 68%;
  margin: auto;
  margin-bottom: 5em;
}

.post-section1 img {
  width: 1362.88px;
  height: 691.8px;
  margin-bottom: 2em;
}

/* Page post section2 */

.post-section2 {
  width: 60%;
  display: flex;
  margin: auto;
  margin-bottom: 7em;
}

.post-section2 img {
  width: 535px;
  height: 458px;
  padding-right: 2em;
}

.post-section2-txt {
  width: 40%;
}

/* CONTACT */
/*Entête du formulaire de contact*/
.contact-txt h1 {
  padding-top: 4em;
  text-align: center;
  margin-top: 0;
}

.contact-txt p {
  text-align: left;
  margin: auto;
  width: 55em;
}

/*Formulaire de contact*/

.contact-form-container {
  padding: 7em 0 10em;
  width: 23%;
  margin: auto;
}

.contact-txt a {
  color: #d73106;
}

.contact-form label {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.checkbox1 label,
.checkbox2 label {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

#description {
  height: 15.625em;
}

.bloc-label,
.bloc-input {
  display: block;
}

.bloc-input,
#format-select {
  width: 33.5em;
}

.bloc-input,
.name-input,
#format-select {
  background-color: #0f0c2608;
}

.name-input {
  width: 16.25em;
}

/*.contact-name {
  position: relative;
}

.name-label {
  position: absolute;
  bottom: 60px;
}*/

#fname {
  margin-right: 1em;
}

.support-container,
.format-container,
.question-container {
  padding-top: 1em;
  padding-bottom: 1em;
}

.name-label-container {
  display: flex;
  justify-content: space-between;
}

.name-label-container {
  width: 23em;
}

.name-input-container {
  display: flex;
}

.checkbox-round {
  width: 1.3em;
  height: 1.3em;
  background-color: #0f0c2608;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #0f0c264b;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: #0f0c2668;
}

input[type="text"],
input[type="email"],
select,
textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-color: #9032b0;
  color: #fff;
  padding: 11px 15px;
  border-radius: 6px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #ffffff;
  color: #9032b0;
  border: solid 3px #9032b0;
}

/*PAGE GALERIE*/

.galerie-container {
  padding-top: 5em;
  padding-bottom: 5em;
  margin: auto;
  width: 80%;
}

.painting-container {
  margin: 2em;
}

.img-painting-container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff; /* Optionnel : couleur de fond du conteneur */
}

.painting-img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* L'image est entièrement visible, avec des barres si nécessaire */
  object-position: center; /* Centre l'image dans le conteneur */
  display: block; /* Supprime l'espace blanc en bas de l'image */
}

.painting-text-container {
  color: #0f0c26a1;
}

.painting-text-container h3 {
  font-size: 20px;
  margin-bottom: 0.375em;
  color: #0f0c26;
}

.painting-text-container a {
  text-decoration: none;
}

.galerie-container h1 {
  font-size: 50px;
  text-align: center;
}

.galerie-container h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 3em;
}

.painting-text-container p,
.painting-text-container h3 {
  margin-bottom: 0.25em;
  margin-top: 0.375em;
  text-align: center;
}

.flex-paintings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* PAGE PRODUIT */
.produit-container {
  padding-top: 5em;
}

.produit-flex {
  display: flex;
  width: 60%;
  margin: auto;
}

.img-produit-container {
  width: 709.6px;
  height: 709.6px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}

.description-produit {
  width: 30em;
  padding-left: 3em;
  padding-top: 7em;
}

.description-produit button {
  margin-top: 2em;
}

.produit-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
}

.description-produit h3 {
  font-size: 20px;
  margin-bottom: 0.375em;
  color: #0f0c26;
}

.description-produit {
  text-align: center;
}

.description-produit button {
  background-color: #ffffff;
  color: #d73106;
  border: solid 3px #d73106;
}

.description-produit button:hover {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  background-color: #d73106;
  color: #fff;
  padding: 11px 15px;
  border-radius: 6px;
  cursor: pointer;
}

/* Tableau informations produits */

.info-produit-container h4 {
  text-align: center;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.tableau-container {
  margin: auto;
  width: 42%;
}

.info-produit-container {
  padding-bottom: 7em;
}

.tab-line {
  /* border-bottom: #0f0c264d solid 1px;
  width: 50em;*/
  display: flex;
  justify-content: space-between;
}

.tab-head {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
}

/* CART PAGE */

.cart-container {
  padding-top: 8em;
  padding-left: 8em;
  padding-right: 8em;
}

.cart-container {
  /*padding-top: 10em;*/
  padding-bottom: 8em;
  width: 70%;
  margin: auto;
}

.cart-container h1 {
  padding-bottom: 2em;
}

.img-cart-container {
  width: 177.4px;
  height: 177.4px;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.img-cart {
  width: 100%;
  height: 100%;
  object-fit: contain; /* L'image est entièrement visible, avec des barres si nécessaire */
  object-position: center; /* Centre l'image dans le conteneur */
  display: block; /* Supprime l'espace blanc en bas de l'image */
}

.cart-painting-container span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  padding-left: 2em;
}

.cart-painting-container,
.prix-suppr {
  display: flex;
  align-items: center;
}

.cart-section1 {
  /*border-bottom: #0f0c264d solid 1px;*/
  display: flex;
  justify-content: space-between;
}

.prix-cart1 {
  margin-right: 10em;
}

.total-container {
  display: flex;
  flex-direction: column;
  /*display: flex;
  justify-content: space-around;
  width: 25%;
  margin-left: 47em;*/
}

.total {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-right: 7em;
}

.cart-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 3em;
  width: 100%;
}

.cart-btn {
  font-family: "Montserrat", sans-serif;
  padding: 11px 15px;
  font-weight: 600;
  font-size: 18px;
  background-color: #d73106;
  color: #fff;
  border-radius: 6px;
  margin-top: 2em;
  border: none;
}

.cart-btn:hover {
  background-color: #ffffff;
  color: #d73106;
  border: solid 3px #d73106;
  cursor: pointer;
}

.fa-xmark {
  font-size: 26px;
}

.cart-section2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2em;
}

/* LA FOIRE AUX QUESTIONS  */

.wrapper {
  max-width: 75%;
  margin: auto;
  padding-top: 8em;
  padding-bottom: 5em;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: #eae9f4;

  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.accordion i {
  padding: 20px;
  display: block;
  font-size: 30px;
  transition: all 0.4s ease;
}

.accordion.active i {
  transform: rotateZ(90deg);
}

.active,
.accordion:hover {
  background-color: #62616e;
  color: white;
}
.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #eae9f4;

  display: none;
}
.pannel p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  line-height: 1.4;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}
.faq.active {
  border: none;
}

/* FOOTER */

/* Back To The Top  */

.fa-angle-up {
  color: #fff;
  background-color: #4a3554;
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100px;
  position: fixed;
  bottom: 20px;
  right: 100px;
  font-size: 50px;
}

.top-btn-container {
  display: none; /* Cacher par défaut */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Placer les btn en bas de la page */
  z-index: 99; /* Veillez à ce qu'il n'y ait pas de chevauchement */
  cursor: pointer; /* Ajouter un curseur pointer sur hover */
  width: 50px;
}

/*  FIN Back To The Top  */

footer {
  width: 100%;
  background-color: #e1d6ce;
}

.footer-container {
  padding-top: 2em;
}

.fa-envelope a {
  font-weight: 500;
}

.footer-container a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.footer-heading h4 {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}

.nav-footer {
  display: flex;
  justify-content: center;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 5em;
}

.footer-heading h4 {
  margin-bottom: 2em;
}

.footer-heading a {
  color: #0f0c26;
  text-decoration: none;
  margin-bottom: 1.5em;
}

/*  Section newsletter + réseaux sociaux */

/*.position-nl-soc {
  position: relative;
}*/

.nl-input-container {
  position: relative;
}

/*.nl-soc-container {
  display: flex;
  justify-content: space-around;
}*/

.newsletter-container,
.social-container {
  padding-top: 7em;
}

.newsletter-container h4,
.social-container h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.nl-input-container input {
  height: 45px;
  width: 218px;
}

.btn-nl {
  position: absolute;
  top: 6px;
}

.social-container {
  width: 20%;
}

.newsletter-container {
  width: 20%;
}

.fa-brands {
  font-size: 35px;
  padding-right: 0.5em;
  color: #0f0c26;
}

.fa-brands:hover {
  color: #9032b0;
}

.mentions {
  display: flex;
  justify-content: center;
  padding-bottom: 1em;
  font-family: "Poppins", sans-serif;
  margin-top: 3em;
}

.mentions a {
  color: #0f0c26;
  text-decoration: none;
}

.separateur {
  border-top: #0f0c26 solid 1px;
  width: 70%;
}

.separateur p {
  display: flex;
  justify-content: center;
}

/*.position-hr {
  position: relative;
}
/*.mentions hr {
  position: absolute;
  top: 175px;
  color: #0f0c26;
  width: 80%;
  left: 180px;
  border: 1px solid #0f0c2679;
  /*margin-top: 22em;
}*/

/*   MEDIA QUERIES  

...
// all rules outside of @media queries apply to devices 1201px and above
...

@media (max-width: 1200px) {
	...
	// rules here apply to devices from 993px to 1200px (inclusive)
	...
}
@media (max-width: 992px) {	
	...
	// rules here apply to devices from 769px to 992px (inclusive)
	...
}
@media (max-width: 768px) {
	...
	// rules here apply to devices from 0px to 768px (inclusive)
	...
}*/
/*   Mobile     */
@media (max-width: 768px) {
  /*BODY*/

  body {
    margin: 0;
  }

  /* NAVIGATION MOBILE */

  /* barre de navigation mobile */

  .div-logo2 {
    /*visibility: visible;*/
    display: block;
  }

  .logo2 {
    height: 60.48px;
    width: 4em;
  }

  .div-logo1,
  .logo1 {
    display: none;
  }

  .div-logo2 {
    padding-top: 0.5em;
  }

  .menu-principal {
    display: none;
  }

  .barre-nav-container {
    width: 100%;
  }

  .barre-nav-flex {
    width: 90%;
    justify-content: space-around;
  }

  /*.langue {
    display: none;
  }

  .barre-nav-icones a {
    text-decoration: none;
    font-weight: normal;
    color: #0f0c26;
    padding-right: 0;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    margin-left: 0;
  }*/

  /**menu burger**/

  .menuburger {
    display: block;
    background-color: #e1d6ce;
    height: 5em;
    align-content: center;
  }

  .menu-btn {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }

  /* icône menu burger */

  .menu-btn .bar {
    width: 30px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    background-color: #0f0c26;
    transition: all 0.3s ease-in-out;
  }

  .menu-btn .bar:nth-of-type(2) {
    top: calc(50% - 9px);
  }
  .menu-btn .bar:nth-of-type(3) {
    top: calc(50% + 9px);
  }

  /*Modification de l'icône du hamburger lorsque le menu est ouvert */
  .menu-btn.active .bar:nth-of-type(1) {
    display: none;
  }
  .menu-btn.active .bar:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  .menu-btn.active .bar:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }

  /* L'icône menu qui s'affiche */
  .menuburger_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    background: #ffefba;
    transform: translateX(100%);
    transition: transform 0.5s;
  }

  .menuburger_nav.active {
    transform: translateX(0);
    display: block;
    z-index: 10;
  }

  .menuburger_nav .nav_list_item {
    list-style-type: none;
  }

  @media (max-width: 992px) and (min-width: 768px) {
    .menuburger {
      display: none;
    }
    .barre-nav-container {
      display: none;
    }
  }

  /*   Affichage menu mobile */

  /*   TEST MENU BURGER DEROULANT PREPARATION MOBILE */

  .dropdown label,
  .dropdown a {
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
  }

  .dropdown-content li a {
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
  }

  .menuburger_nav,
  .menuburger_nav label {
    background-color: #242137;
    overflow: hidden;
    width: 100%;
  }

  .menuburger_nav ul {
    list-style-type: none;
  }

  .menuburger_nav a,
  .dropdown label {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
    font-size: 17px;
  }

  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown-content {
    /* display: inline-block;*/
    display: none;
    width: 100%;
  }

  .dropdown-content a {
    color: #ffffffdb;
  }

  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .menuburger_nav > ul > li {
    position: relative;
    height: 100%;
    flex: 1;
    width: 100%;
    /* border-style: 1px solid #fff;*/
  }

  .menuburger_nav > ul > li > a,
  .dropdown > label {
    /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
    width: 100%;
  }

  .menuburger_nav {
    padding-top: 5em;
    display: none;
  }

  .menuburger_nav ul {
    padding-left: 0;
  }

  .hr-menu {
    opacity: 65%;
    font-size: 0.5px;
    margin: auto;
    width: 85%;
  }

  .hr-menu-small {
    opacity: 65%;
    font-size: 0.5px;
    margin: auto;
    width: 50%;
  }

  .arrow-burger > label:after {
    content: "❯";
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
    color: #fff;
  }

  @keyframes rotationFleche {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(90deg);
    }
  }

  .menu-deroulant-burger:hover > label:after {
    animation: rotationFleche 0.2s linear forwards;
  }

  /*  FIN TEST MENU DEROULANT BURGER MOBILE */

  /*  HERO HEADER MOBILE  */

  .img-overlay {
    min-height: 100vh;
  }

  #h1-home {
    top: 2em;
    left: 0;
    text-align: center;
  }

  h1 {
    font-size: 40px;
  }

  .msg-hero-header {
    font-size: 16px;
    text-align: center;
    left: 1em;
  }

  .hero-container {
    min-height: 100vh;
    color: #fff;
    font-size: 24px;
    text-align: center;
  }

  .header-btn1 {
    left: 7.7em;
    top: 26em;
    height: 3em;
  }

  .header-btn1:focus {
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background-color: #d73106;
  }

  .header-btn2 {
    left: 6em;
    top: 30em;
    height: 3em;
  }

  .header-btn2:focus {
    border-style: solid;
    border-color: #9032b0;
    color: #9032b0;
    background-color: #ffffff;
  }

  .msg-hero-header {
    width: 90%;
  }

  /*header button {
    top: 27em;
  }*/

  /* Section A Propos Index MOBILE */

  .aPropos-container {
    height: 45em;
    display: grid;
    grid-template-rows: 1fr 1fr 0fr;
  }

  .aPropos-extrait {
    padding: 0 2em 0 2em;
  }

  .aPropos-extrait h2 {
    text-align: center;
  }

  .aPropos-extrait p {
    text-align: center;
    margin: 0 3em 0 3em;
  }

  .aPropos-extrait {
    width: 100%;
    height: 101px;
    padding: 0;
  }

  .img-aPropos {
    width: 380.65px;
    height: 325.87px;
    padding: 1em 0 1em 0;
  }

  .btn-aPropos-sctn-cntnr {
    padding-top: 1em;
    display: flex;
    justify-content: center;
  }

  .img-aPropos-cntnr-home {
    margin: auto;
  }

  .aPropos-extrait {
    order: 2;
  }

  .img-aPropos-cntnr-home {
    order: 1;
  }

  .btn-aPropos:focus {
    width: 178px;
    border: 3px solid #9032b0;
    background-color: #ffffff;
    color: #9032b0;
    left: 12em;
  }

  /*  Index Section page stickers mobile */

  .page-stickers-container {
    display: block;
  }

  .sticker-container {
    margin: auto;
  }

  .page-stickers-container {
    padding-top: 3em;
    background-color: #f7f6f8;
    width: 100%;
    height: 70em;
    margin-top: 5em;
  }

  .sticker-galerie-container,
  .sticker-commande-container,
  .sticker-blog-container {
    padding-bottom: 3em;
  }

  /*  Index Section dernières peintures*/

  .container h3:focus {
    color: #d73106;
  }

  /*  Index Section faq mobile */

  .faq-link-container {
    width: 100%;
    height: 15em;
  }

  .btn-faq-div-home {
    display: flex;
    justify-content: center;
  }

  .btn-faq-div-home a {
    text-decoration: none;
  }

  .btn-msg-faq button:focus {
    background-color: #9032b0;
    color: #ffffff;
    font-weight: 700;
    border: 3px solid #ffffff;
  }

  /*  Les derniers articles home mobile  */

  .card-text-container-home {
    text-align: center;
  }

  .card-container-home {
    margin-right: 0;
  }

  .btn-articles:focus {
    border: 3px solid #9032b0;
    background-color: #ffffff;
    color: #9032b0;
  }

  .card-text-container-home h3 a:focus,
  .lire-plus:focus {
    color: #9032b0;
  }

  /*  A PROPOS MOBILE*/

  #apropos-h1 {
    margin: auto;
    width: 100%;
  }

  /* à propos section 1 mobile */

  /*.section-apropos-container {
    width: 100%;
  }*/

  .section-apropos-container {
    padding-top: 3em;
  }

  .section-apropos1 {
    padding-bottom: 10em;
  }

  .section-apropos1,
  .section-apropos2 {
    margin: auto;
  }

  .section-apropos1-img {
    margin-top: 1em;
  }

  .section-apropos1-txt,
  .sous-section-apropos2-a-txt,
  .sous-section-apropos2-b-txt {
    width: 85%;
    margin: auto;
    text-align: center;
  }

  #apropos-h1 {
    text-align: center;
    font-size: 40px;
    width: 80%;
  }

  #photo-artiste {
    width: 393px;
    height: 300px;
    padding-bottom: 1em;
  }

  .section-apropos1 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
  }

  .section-apropos1-txt h2 {
    font-size: 25px;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 1em;
  }

  /* à propos section 2 mobile*/

  .grey-bg {
    background-color: #65606f;
    width: 95%;
    color: #fff;
    margin-bottom: 5em;
    padding: 0;
  }

  .sous-section-apropos2-b-img,
  .sous-section-apropos2-a-img {
    margin: auto;
  }

  /*hr {
    width: 15em;
    position: absolute;
    top: 4em;
    left: 30em;
  }*/

  .section-apropos2 {
    padding-bottom: 7em;
  }

  .sous-section-apropos2-a {
    padding-bottom: 12em;
  }

  .section-apropos2 h2 {
    text-align: center;
    padding: 1em 0 2em;
    width: 60%;
    margin: auto;
  }

  .sous-section-apropos2-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .sous-section-apropos2-b {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
  }

  .img-page-aPropos2 {
    width: 325px;
    height: 290px;
    margin-top: 3em;
  }

  /*    COMMANDE MOBILE   */

  .info-commande-container h1 {
    font-size: 23px;
    padding-top: 0.5em;
  }

  .info-commande-container h2 {
    font-size: 20px;
  }

  .info-commande-container h3 {
    font-size: 18px;
  }

  .bg-h1-commande {
    height: 5em;
  }

  .info-commande-container h2,
  .info-commande-container h3,
  .info-commande-container p {
    text-align: center;
  }

  .info-commande-contenu {
    width: 60%;
  }

  .contact-link-container {
    height: 11em;
  }

  .btn-msg-contact {
    width: 50%;
    margin: auto;
    padding-bottom: 1em;
  }

  .btn-msg-contact button {
    width: 10em;
  }

  .btn-msg-contact button:hover {
    width: 10em;
  }

  /*PAGE ARCHIVE MOBILE : Enlever du paragraphe dans la version mobile (mettre 2.5 lignes ou 3*/

  .archive-container {
    padding-top: 5em;
    padding-bottom: 5em;
    margin: auto;
    width: 80%;
  }

  .card-container {
    width: 21em;
    height: 24em;
    box-shadow: rgba(0, 0, 0, 0.256) 0px 5px 15px;
    margin: auto;
    margin-bottom: 2.5em;
  }

  .hidden-text {
    position: absolute;
    left: -10000em;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .archive-img {
    width: 322px;
    height: 223.61px;
  }

  .date {
    font-size: 14px;
    font-weight: 200;
  }
  .lire-plus {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
  }

  .card-text-container {
    width: 19.125em;
    height: 8.25em;
    text-align: center;
  }

  .card-text-container h3 {
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .archive-container h1 {
    font-size: 50px;
    text-align: center;
  }

  .archive-container h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 3em;
  }

  .card-text-container p {
    margin-bottom: 0.25em;
    margin-top: 0.375em;
  }

  .flex-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  /*  PAGE POST MOBILE  */

  .post-section1 img {
    width: 100%;
    height: 14em;
  }

  .post-section1 {
    width: 100%;
  }

  .post-section2 img {
    width: 100%;
    height: 15em;
    padding-right: 0;
  }

  .post-section2 {
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 7em;
  }
  .post-section2-txt,
  .post-section1-txt {
    text-align: center;
    width: 85%;
    margin: auto;
  }

  /*  SINGLE  PAGE GALERIE MOBILE  */

  .produit-container {
    padding-top: 0;
  }

  .produit-flex {
    display: block;
    width: 100%;
    margin: auto;
    padding-bottom: 5em;
  }

  .img-produit-container {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    background-color: #ffffff;
  }

  .description-produit {
    width: 87%;
    margin: auto;
    padding-left: 0;
    padding-top: 0;
  }

  .tableau-container {
    margin: auto;
    width: 85%;
  }

  #support {
    width: 40%;
  }

  .description-produit button:focus {
    background-color: #d73106;
    color: #ffffff;
    border: none;
  }

  /*   FOOTER MOBILE  */

  .footer-heading {
    margin-right: 0em;
  }

  .top-btn-container {
    width: ;
  }

  .social-container,
  .newsletter-container,
  .social-container {
    padding-top: 7em;

    padding-top: 0.5em;
  }

  .nl-input-container {
    padding-bottom: 2em;
  }

  .nav-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .soc-icones {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .newsletter-container {
    width: 15em;
    margin: auto;
    text-align: center;
  }

  .nl-input-container {
    padding-bottom: 3em;
  }

  .newsletter-container h4,
  .social-container h4 {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  .nl-input-container input {
    height: 44px;
    width: 218px;
    margin-bottom: 0;
  }

  input[type="email"],
  select,
  textarea {
    text-align: center;
  }

  .btn-nl {
    position: static;
  }

  .social-container {
    margin: auto;
  }

  .social-container h4 {
    text-align: center;
  }

  .separateur {
    width: 15em;
    border-top: #0f0c26 1px solid;
    margin: auto;
    padding-top: 2em;
  }

  .top-btn-container {
    padding-bottom: 5em;
  }

  .btn-nl:focus {
    background-color: #ffffff;
    color: #9032b0;
    border: solid 3px #9032b0;
  }

  .fa-angle-up {
    bottom: 2em;
    right: 2em;
  }
}

/* TABLETTE  */

@media (max-width: 992px) {
  /* NAVIGATION TABLETTE */
  .barre-nav-flex {
    width: 100%;
  }
  .menu-principal > ul {
    justify-content: center;
  }

  .menu-principal ul li {
    width: 120px;
  }

  /*  HEADER TABLETTE   */

  .img-overlay,
  .hero-container {
    width: 100%;
    min-height: 43vh;
    background-color: #0f0c26a4;
  }

  /* Index section fac tablette */
  .faq-link-container {
    height: 9em;
  }

  .disabled {
    pointer-events: none;
    cursor: default;
  }

 
